/*GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
  font-family: "Geometry Soft Pro-Bold N";
    src: url(/barista/fonts/Geometry-Soft\ Pro-Bold\ N.otf) format("opentype"); 
  font-weight: 700;
  font-style: normal;
}

:root {
/*  */
  /* CORES */
  --cor-fundo-1: #F3E8DC;
  --cor-fundo-2: #2e2e2e;
  --cor-primaria: #4b2e1e;
  --cor-secundaria-1: #8b5e3c;
  --cor-secundaria-2: #b56a34;
  --cor-destaque: #5c6945;

  --cor-texto: #2e2e2e;
  --cor-titulo: #4b2e1e;
  --cor-subtitulo: #8b5e3c;


  /* FONTES */
  --fonte-texto: "Bebas Neue", sans-serif;
  --fonte-titulo: "Geometry Soft Pro-Bold N";

}

/* Corpo do site */
body {
    font-family: var(--fonte-titulo);
   
}
/* Final do Corpo do site */

/* padrões de tag */

p {
    font-family: var(--fonte-texto);
    color: var(--cor-subtitulo);
    font-size: 18px;
}


/* menu-lateral */

.navbar{
    background-color: #0b0b0b;
}

.sidebar-menu .nav-header {
  font-size: 20px;  
}

/* final menu-lateral */

/* cor de fundo */

.app-main {
    background-color: var(--cor-fundo-1);
}

/* cor de fundo */

.app-sidebar{
    background-color: #0b0b0b !important;
}

.sidebar-brand{
    height: 130px;
}

.sidebar-brand .brand-link .brand-image{
    width: 130px;
    max-height: none;

}

.dashboard-main-title {
    color: var(--cor-titulo);

}

.row h1 {
    color: var(--cor-titulo);
}

/* icones do menu-lateral */

.icone-vazio {
    color: var(--cor-destaque);
    transition: 0.5s ease-out;
}

.icone-vazio1{
    color: yellow;
}

.nav-link:hover .icone-vazio{
    color: yellow;
}
/* icones do menu-lateral*/

/* cards do menu */

.card-estilo {
    background-color: black;
}

/* final cards do menu */

/** BOTÃO 'MOSTRAR MAIS' DEPOIMENOTS */

    /* A caixinha que segura o texto completo começa trancada e sem altura */
    .texto-completo-container{
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.4s ease-out; /*! Controla a velocidade (0.4 segundos) */
        overflow: hidden;
    }


     /* Texto completo começa excondido */
    .texto-completo{
        min-height: 0;
        /* display: none; */
    }

    /*  Texto Curto aparece normalmente */
    .texto-curto{
        display: inline;
    } 

    /** --- QUANDO A CAIXA FOR EXPANDIDA ---   */
    
        /* ? Cortina se abre suavemente mostrando o texto inteiro */
        .texto-container.expandido .texto-completo-container {
            grid-template-rows: 1fr;
        }

        /* ? O texto curto some suavemente para dar espaço ao textão abaixo */
        .texto-container.expandido .texto-curto {
            display: none;
        }


    /*? Classe auxilliar que o JS vai usar para !controlar o desaparecimento e aparecimento */
    /* .texto-container.expandido .texto-curto {
        display: none;
    } */

    /* .texto-container.expandido .texto-completo {
        display: inline;
    } */

    .btn-expandir{
        background: none;
        border: none;
        color:var(--cor-destaque);
        cursor: pointer;
        padding: 0;
        margin-left: 5px;

        

    }

/** FINAL BOTÃO 'MOSTRAR MAIS' DEPOIMENOTS */


